doctype html
html
	head
		title Grunt Example
				
		each src in css
			link(rel='stylesheet' href=src)
	body
				
		div(class='a')
		div(class='b')
		
		each sc in js
			script(type='text/javascript' src=sc)